<%= form_with model: [conversation, conversation.messages.new], class: "message-form", id: "new-message-form" do |form| %>
  <div class="message-input-group">
    <%= form.text_field :content,
        placeholder: "Type your message...",
        autofocus: true,
        required: true,
        autocomplete: "off",
        class: "message-input" %>

    <%= form.submit %>
  </div>
<% end %>
